$white: #fff;

.l-simple {
  .c-title {
    color: $white;
  }

  .c-button {
    display: block;
    color: $white;
    border: 1px solid #fff;
    background-color: $white;
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      background-color: #fff;
      color: black;
    }
  }
}

.l-insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);

  .c-title {
    color: $white;
  }
  .c-button {
    display: block;
    color: $white;
    border: 1px solid #fff;
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      background-color: #fff;
      color: black;
    }
  }
}

.l-dark {
  background-color: #292929;

  .c-title {
    color: #e5e5e5;
  }
  .c-button {
    color: #fff;
    border: 1px solid #fff;
  }
}

.l-label {
  background-color: #faa796;

  .c-title {
    color: $white;
  }

  .c-button {
    display: block;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 20px #ff7c5c;
    color: #ff7c5c;
    padding: 25px 0;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    &:active {
      box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
      transform: translateY(2px);
    }
  }
}

.l-neumor {
  $dark: #20222d;
  $light: #cfcebc;
  $shadow-light: rgba(255, 255, 255, 0.05);
  $shadow-dark: rgba(0, 0, 0, 0.2);

  background: #f3f0f1;

  .c-title {
    color: #283a46;
    font-weight: bold;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.8), 3px 3px 5px rgba(0, 0, 0, 0.2); */
    position: relative;
  }

  .c-icon {
    box-shadow: -10px -10px 20px 0px $shadow-light, 10px 10px 20px 0px $shadow-dark;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.8), 3px 3px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
  }

  .c-button {
    color: #283a46;
    background: #f3f0f1;
    position: relative;
    background: #f3f0f1;
    border-radius: 32px;
    font-weight: 100;
    text-align: center;
    font-weight: bold;
    padding: 13px 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.8), 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
}
